*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}


.container {
    margin: 0 auto;
    width: 70vw;
    background-color: red;
}

.banner {
    height: 20vh;
    
    background-color: aqua;
}

.botoes {
    width: 16vw;
    height: 80vh;
    background-color: blueviolet;
    text-align: center;
}

.itens {
    display: flex;
    
}

.texto {
    width: 52vw;
    background-color: greenyellow;
    text-align: center;
    
}

.videos {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.video01 {
    width: 18vw;
    height: 28vh;
    
    background-color: pink;
}

.video02 {
    width: 18vw;
    height: 28vh;
    background-color: yellow;
}


.video03 {
    width: 18vw;
    height: 28vh;
    background-color: green;
}

.video04 {
    width: 18vw;
    height: 28vh;
    background-color: gray;
}