*{
padding: 0;
margin: 0;
font-family: sans-serif;
background-color: #303030;
}

.menu {
	display: flex;
	justify-content: space-around;
	background-color: #3F3C3C;
}

.imagem {
	width: 150px;
	background-color: #3F3C3C;
}

.menu-links {
	font-size: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	align-items: center;
	background-color: #3F3C3C;
}

.links {
	margin-right: 15px;
	text-decoration: none;
	color: #345AAD;
	font-weight: bold;
	font-style: italic;
	background-color: #3F3C3C;
}

.contato {
	text-align: center;
	font-weight: bold;
	padding-top: 50px;
	background-color: #303030;
	color: white;
}

form {
	padding: 40px 0;
	text-align: center;
	color: white;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: inline;
	margin: 0 0 20px;
	padding: 10px 80px;
	width: 30%;
	text-align: center;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 20%;
	padding: 15px 0;
	background: #345AAD;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: #345AAD;
	transform: scale(1.2);
}